
<div class="card">
    <h5 class="card-header text-center" style="color:white; background-color:rgb(14, 90, 39)">
        <strong>Profile</strong></h5>
    <div class="card-body">
        <p class="card-text"><Strong>User ID</Strong> :  {{_id}}</p>
        <p class="card-text"><Strong>Name</Strong> : {{fname}} {{lname}}</p>
        <p class="card-text"><Strong>Email</Strong> :  {{email}}</p>
        <p class="card-text"><Strong>Phone</Strong> :  {{phone}}</p>
        <p class="card-text"><Strong>Date of birth</Strong> :  {{date_of_birth}}</p>
    </div>
</div>